

body {
            text-align: center; /* Center the body content */
    
        }

        h1 {
            font-size: 2.5em; /* Adjust title size */
            margin-bottom: 20px; /* Add space below the title */
        }

        #container {
            display: flex;
            flex-direction: column; 
            align-items: center; 
            gap: 40px; 
        }

        #symbol_map {
            display: flex;
            justify-content: center; 


        }

        #bar_chart {
            display: flex;
            justify-content: center; 

        }

		